alpaca-py
backtesting
finnhub-python
lxml
lightweight-charts
numpy
pandas
polygon-api-client
psycopg2-binary
python-binance
python-decouple
python-dotenv
requests
sqlalchemy
timescaledb
ta-lib
talipp
websocket-client
pytest
jupyter
PyYAML
